@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

/****** Colours ******

  facebook blue: #425699; 66,86,153
  light blue: DCE4FF 220,228,255
  tan: A69995 166,153,149
  green: 466622 70,102,34
  light green: DAE5CD 218,229,205

*/



/******* General ********/

html {
  background-color: #000;
  background-image: url(../_img/diagmonds.png);
}

body {
  background-color: rgba(255,255,255,.075);
}

body, p, a, h1,h2,h3,h4,h5,h6 {
  color: #B1C0E0;
  font-family: "Arimo", "Arial", sans-serif;
}

h1 {
  font-size: 3em;
}

.hidden {
  display: none;
}

/******* Basic Sections *********/
#header, #footer, #main {
  padding: 1em;
}

#header, #footer {
  text-align: center;
/*  background-color: #3B5998;
  color: #DAE5CD;*/
}

#header {
 /* border-bottom: 20px solid #DAE5CD;*/
}

#footer {
 /* border-top: 20px solid rgba(218,229,205,.5);*/

}

#main {

  width: 80%;
  margin: auto auto;
}

/******** Friend Grid **********/
#friends {

}

.photo, .name {
}

.name {
  display: block;
}

.friend {
  width: 120px;
  padding: 5px;
  display: inline-block;
}

.photo {
  height: 100px;
  width: 100px;
}

.wrong {
  opacity: 0.25;
}