@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

/****** Colours ******

  facebook blue: #425699; 66,86,153
  light blue: DCE4FF 220,228,255
  tan: A69995 166,153,149
  green: 466622 70,102,34
  light green: DAE5CD 218,229,205

*/



/******* General ********/

html {
  background-color: #000;
  background-image: url(../_img/diagmonds.png);
}

body {
  background-color: rgba(255,255,255,.075);
}

body, p, a, h1,h2,h3,h4,h5,h6 {
  color: #B1C0E0;
  font-family: "Arimo", "Arial", sans-serif;
}

h1 {
  font-size: 3em;
  color: #F92770;
}

.hidden {
  display: none;
}

input[type="button"] {
  padding: 10px;
  background-color: rgba(100,100,100,.5);
  border: none;
  border-radius: 1px;
  color: #B1C0E0;
  min-width: 125px;
}

input[type="button"]:disabled {
  background: none;
  color: transparent;
}

li {
  list-style-type: circle;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/******* Basic Sections *********/
#header, #footer, #main {
  padding: 1em;
}

#header, #footer {
  text-align: center;
/*  background-color: #3B5998;
  color: #DAE5CD;*/
}

#header {
  padding: 0;
  padding-top: 20px;
  
}

#footer {
  

}

#main, #leaderboards {

  width: 80%;
  margin: auto auto;
}

#main {
  padding-top: 0;
}

#status {
  margin: 0 auto;
  padding: 15px;
  text-align: center;

  /*background-color: rgba(100,100,100,0.5);*/
  border-radius: 5px;
}

#status input[type="button"] {
  /*background: none;*/
}

#status p {
  margin-bottom: 12px;
}

#share input[type="button"] {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: .75em;
}


/********* Questions ***********/
#goBtnDiv, #loginBtnDiv {
  text-align: center;
}

#score_board p {
  color: #F92770;
  float: right;
}

#lives {
  float: right;
}

#lives img {
  width: 30px;
}

/******** Friend Grid **********/
#friends {

}

.photo, .name {
}

.name {
  text-align: center;
}

.friend {
  width: 130px;
  height: 140px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}

.photo {
  height: 100px;
  width: 100px;
  margin-left: 15px;
}

.wrong {
  opacity: 0.25;
}

#target, #share {
  text-align: center;
}


/******** Leaderboards ********/

